<h4 mat-dialog-title>Edycja hasła</h4>
<div mat-dialog-content>
  <p>Podaj imię i nazwisko</p>
  <form [formGroup]="editPasswordForm" #formDirective="ngForm">

    <mat-form-field appearance="fill" style="width:100%">
      <mat-label>Obecne hasło</mat-label>
      <input type="password" matInput formControlName="oldPassword" fillColor="accent">
      <mat-error *ngIf="this.editPasswordForm.controls.oldPassword.hasError('required')">
        Imię jest <strong>wymagane</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" style="width:100%">
      <mat-label>Nowe hasło</mat-label>
      <input type="password" matInput formControlName="newPassword" fillColor="accent">
      <mat-error *ngIf="this.editPasswordForm.controls.newPassword.hasError('required')">
        Nazwisko jest <strong>wymagane</strong>
      </mat-error>
      <mat-error *ngIf="this.editPasswordForm.controls.newPassword.hasError('minlength')">
        Hasło powinno mieć minimum <strong>6</strong> znaków
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button color="warn"  (click)="onNoClick()">Wróć</button>
  <button mat-stroked-button cdkFocusInitial [disabled]="editPasswordForm.invalid" (click)="onSaveClick()">Zapisz</button>
</div>
