#breadcrumb {
  padding: 30px 20px 15px 20px;
  background: #FBFBFC;
  border-bottom: 1px solid #E4E7ED;
  margin-bottom: 30px;
}

#breadcrumb .breadcrumb-header {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 15px;
  text-transform: uppercase;
}

#breadcrumb .breadcrumb-tree {
  display: inline-block;
}

#breadcrumb .breadcrumb-tree li {
  display: inline-block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

#breadcrumb .breadcrumb-tree li+li {
  margin-left: 10px;
}

#breadcrumb .breadcrumb-tree li+li:before {
  content: '/';
  display: inline-block;
  color: #8D99AE;
  margin-right: 10px;
}

#breadcrumb .breadcrumb-tree li a {
  color: #8D99AE;
}

#breadcrumb .breadcrumb-tree li a:hover {
  color: #D10024;
}


/* .small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
} */

.single-product select {
  display: block;
  padding: 5px 10px;
  width: 100px;
}

.product-details .product-price {
  display: inline-block;
}
.product-details .product-freshness {
  font-weight: 600;
  font-size: 18px;
}
.product-details .product-freshness .freshness-type{
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  color: #6c757d;
}
.product-details .product-price .product-old-price {
  font-size: 70%;
  font-weight: 400;
  color: #343a40;
}
.product-details .product-size{
  margin-top: 20px;
}
.product-details .product-size .select-size{
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 15px;
  margin-bottom: 10px;
}
.product-details .product-available {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1ead31;
}
.product-details .product-notavailable {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: #D10024;
}
.product-details .add-to-cart {
  margin-top: 20px;
  margin-bottom: 30px;
}
.product-details .add-to-cart .add-to-cart-btn {
  position: relative;
  border: 2px solid transparent;
  height: 40px;
  padding: 0 30px;
  background-color: #D10024;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.product-details .add-to-cart .add-to-cart-btn>i {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 38px;
  color: #D10024;
  opacity: 0;
  visibility: hidden;
}
.product-details .add-to-cart .add-to-cart-btn:hover {
  background-color: #FFF;
  color: #D10024;
  border-color: #D10024;
  padding: 0px 30px 0px 50px;
}
.product-details .add-to-cart .add-to-cart-btn:hover>i {
  opacity: 1;
  visibility: visible;
}
.product-details .add-to-cart .qty-label {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 15px;
  margin-bottom: 0px;
}
.product-details .add-to-cart .qty-label .input-number {
  width: 60px;
  display: inline-block;
}

.input-number {
  position: relative;
  width: 80px !important;
}

.input-number input[type="number"]::-webkit-inner-spin-button,
.input-number input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-number input[type="number"] {
  -moz-appearance: textfield;
  height: 40px;
  width: 100%;
  border: 1px solid #E4E7ED;
  background-color: #FFF;
  padding: 0px 35px 0px 15px;
}

.input-number .qty-up,
.input-number .qty-down {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #E4E7ED;
  background-color: #FFF;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-number .qty-up {
  right: 0;
  top: 0;
  border-bottom: 0px;
}

.input-number .qty-down {
  right: 0;
  bottom: 0;
}

.input-number .qty-up:hover,
.input-number .qty-down:hover {
  background-color: #E4E7ED;
  color: #D10024;
}

.disabled {
  pointer-events: auto !important;
  cursor: not-allowed !important;
}


/* Collection */
.product {
  position: relative;
  margin: 15px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.product:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
  box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
}
.product .product-img{
  overflow: hidden;
}
.product .product-img img{
  transition: 1s all ease-in-out;
}
.product .product-img:hover img{
  transform: scale(1.5);
  cursor: pointer;
}
.product .product-body {
  position: relative;
  padding: 15px;
  background-color: #FFF;
  text-align: center;
  z-index: 20;
}
.product .product-body .product-category {
  text-transform: uppercase;
  font-size: 12px;
  color: #8D99AE;
}

.product .product-body .product-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
}

.product .product-body .product-name>a {
  color: black;
  text-decoration: none !important;
}

.product .product-body .product-name>a:hover,
.product .product-body .product-name>a:focus {
  color: #D10024;
  cursor: pointer;
}

.product .product-body .product-price {
  color: rgb(107, 104, 104);
  font-size: 18px;
}

.product .product-body .product-price .product-old-price {
  font-size: 70%;
  font-weight: 400;
  color: #8D99AE;
}

.product .product-body .product-btns>button {
  position: relative;
  width: 60px;
  height: 60px;
  line-height: 40px;
  font-size: 24px;
  background: transparent;
  border: none;
  -webkit-transition: 0.4s all;
  transition: 0.4s all;
}

.product .product-body .product-btns>button:hover {
  background-color: #E4E7ED;
  color: #D10024;
  border-radius: 50%;
}
.product .product-label {
  position: absolute;
  top: 15px;
  left: 15px;
}
.product .product-label>span {
  border: 2px solid;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 700;
}

.product .product-label>span.sale {
  background-color: #FFF;
  border-color: #D10024;
  color: #D10024;
}


/* Footer */
footer .brand {
  font-family: var(--lg-font);
  letter-spacing: 2px;
}

footer a {
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

footer a:hover {
  color: red !important;
}

