<mat-toolbar class="admin-nav">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()"  >menu</mat-icon>
    </button>
    <h1>Zarządzanie treścią</h1>
    <span class="menu-spacer"></span>
  </mat-toolbar-row>

</mat-toolbar>


 <mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <div *ngIf="userData !== undefined" class="py-2 px-3 border-bottom">
      <span>Cześć,</span><br>
      <span mat-list-item style="font-size: 16px; font-weight: 500;">{{userData.fname}}</span>
    </div>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/admin'"> Dashboard </a>
      <a mat-list-item [routerLink]="'/admin-products'"> Produkty </a>
      <a mat-list-item [routerLink]="'/admin-categories'"> Kategorie </a>
      <a mat-list-item [routerLink]="'/admin-orders'"> <strong class="fst-italic">Historia zamówień</strong></a>
      <a mat-list-item [routerLink]="'/admin-users'"> Konta użytkowników </a>
      <a mat-list-item (click)="sidenav.toggle()" mat-list-item class="d-flex justify-content-start align-items-center"><mat-icon >close</mat-icon>Zamknij</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content style="height: 90vh;">
    <div class="container">

      <div class="col-12 my-3">
        <mat-form-field appearance="standard">
          <mat-label>Filtruj</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Np. 100" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort class="w-100">

            <ng-container matColumnDef="id" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;"> Nr zamówienia</th>
              <td mat-cell *matCellDef="let row" style="width: 15%;">{{row.id}}</td>
            </ng-container>

            <ng-container matColumnDef="email" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Email zamawiającego </th>
              <td mat-cell *matCellDef="let row" style="width: 20%;">{{row.email}} </td>
            </ng-container>

            <ng-container matColumnDef="phone" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 12%;"> Numer telefonu </th>
              <td mat-cell *matCellDef="let row" style="width: 10%;">{{row.phone_number}} </td>
            </ng-container>

            <ng-container matColumnDef="createdAt" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 23%;"> Data </th>
              <td mat-cell *matCellDef="let row" style="width: 23%;">{{row.created_at | date: "HH:mm:ss dd-MM-yyyy"}} </td>
            </ng-container>

            <ng-container matColumnDef="status" >
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> Status zamówienia </th>
              <td mat-cell *matCellDef="let row" style="width: 20%;">{{row.status}} </td>
            </ng-container>

            <ng-container matColumnDef="manage">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> Zarządaj </th>
              <td mat-cell *matCellDef="let row" style="width: 10%;">
                <button mat-icon-button (click)="showOrder(row.id)" class="show-btn">
                  <mat-icon >visibility</mat-icon>
                </button>
                <button mat-icon-button (click)="editOrder(row)" class="edit-btn">
                  <mat-icon >edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">Nie znaleziono produktu o nazwie "{{input.value}}"</td>
            </tr>
          </table>

          <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" pageSize="10" [length]="ordersCount" aria-label="Select page of users"></mat-paginator>
        </div>
      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
